<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.googlecode.android_scripting"
    android:versionCode="604"
    android:versionName="6x04" >

    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="net.dinglisch.android.tasker.PERMISSION_RUN_TASKS" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.PERSISTENT_ACTIVITY" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <application
        android:name=".Sl4aApplication"
        android:allowBackup="true"
        android:icon="@drawable/sl4a_logo_48"
        android:label="@string/application_title"
        android:theme="@style/AppBaseTheme" >
        <activity
            android:name=".activity.ScriptManager"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTop"
            android:theme="@style/AppCompat"
            android:windowSoftInputMode="adjustResize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable_scripts" />
        </activity>
        <activity
            android:name=".activity.ScriptPicker"
            android:configChanges="keyboardHidden|orientation"
            android:label="Scripts"
            android:theme="@style/AppCompat" >
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PICK" />

                <data
                    android:path="sl4a/scripts"
                    android:scheme="content" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.InterpreterPicker"
            android:configChanges="keyboardHidden|orientation"
            android:label="Interpreters"
            android:theme="@style/AppCompat" >
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name="LocalePlugin"
            android:icon="@drawable/sl4a_logo_32"
            android:label="@string/application_title"
            android:targetActivity=".activity.ScriptPicker" >
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
        </activity-alias>

        <receiver
            android:name=".locale.LocaleReceiver"
            tools:ignore="ExportedReceiver" >
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.FIRE_SETTING" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activity.AboutActivity"
            android:theme="@style/AppCompat" />
        <activity
            android:name=".activity.Preferences"
            android:theme="@style/AppCompat" />
        <activity
            android:name="org.connectbot.ConsoleActivity"
            android:configChanges="keyboardHidden|orientation"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize" />
        <!-- 编辑器 -->
        <activity
            android:name="com.hipipal.texteditor.TedActivity"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|fontScale|screenSize|smallestScreenSize"
            android:theme="@style/AppCompat"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
            <intent-filter>
                <action android:name="com.googlecode.android_scripting.action.EDIT_SCRIPT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.hipipal.texteditor.SettingsActivity"
            android:label="@string/title_settings"
            android:theme="@style/AppCompat"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <!-- 模版activity -->
        <activity
            android:name="com.hipipal.texteditor.TemplateActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppCompat"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <!-- 打包项目 -->
        <activity
            android:name="com.googlecode.android_scripting.activity.BuildProject"
            android:launchMode="singleTop"
            android:theme="@style/AppCompat"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".activity.ApiBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTop"
            android:theme="@style/AppCompat"
            android:windowSoftInputMode="adjustResize" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable_apis" />
        </activity>
        <activity
            android:name=".activity.ApiPrompt"
            android:configChanges="keyboardHidden|orientation"
            android:theme="@style/AppCompat" />
        <activity
            android:name=".activity.TriggerManager"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:theme="@style/AppCompat" />
        <activity
            android:name=".activity.BluetoothDeviceList"
            android:configChanges="keyboardHidden|orientation"
            android:theme="@style/AppCompat" />
        <activity
            android:name=".activity.ScriptingLayerServiceLauncher"
            android:taskAffinity=""
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.FutureActivity"
            android:configChanges="keyboardHidden|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="org.connectbot.HelpActivity"
            android:configChanges="keyboardHidden|orientation" />
        <activity
            android:name="org.connectbot.HelpTopicActivity"
            android:configChanges="keyboardHidden|orientation"
            android:theme="@style/AppCompat" />

        <service android:name=".activity.ScriptingLayerService" />
        <service android:name=".activity.TriggerService" />

        <activity
            android:name=".activity.InterpreterManager"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:theme="@style/AppCompat" />
        <activity
            android:name=".activity.LogcatViewer"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:theme="@style/AppCompat" />
        <activity
            android:name=".activity.ScriptsLiveFolder"
            android:configChanges="keyboardHidden|orientation"
            android:icon="@drawable/live_folder"
            android:label="Scripts"
            android:theme="@style/AppCompat" >
            <intent-filter>
                <action android:name="android.intent.action.CREATE_LIVE_FOLDER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <provider
            android:name=".provider.ScriptProvider"
            android:authorities="com.googlecode.android_scripting.provider.scriptprovider"
            tools:ignore="ExportedContentProvider" />
        <provider
            android:name=".provider.ApiProvider"
            android:authorities="com.googlecode.android_scripting.provider.apiprovider"
            tools:ignore="ExportedContentProvider" />

        <uses-library android:name="android.test.runner" />

        <activity
            android:name=".activity.ScriptProcessMonitor"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTask"
            android:theme="@style/AppCompat" />
        <activity
            android:name="org.connectbot.util.ColorsActivity"
            android:configChanges="keyboardHidden|orientation"
            android:theme="@android:style/Theme.Dialog" >
            <intent-filter>
                <action android:name="com.googlecode.android_scripting.PICK_TERMINAL_COLORS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 文件选择 -->
        <activity
            android:name="python.filechooser.FileChooserActivity"
            android:enabled="@bool/use_activity"
            android:exported="true"
            android:icon="@drawable/ic_chooser"
            android:label="@string/choose_file"
            android:theme="@style/android:Theme.Holo" >
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />

                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>
    </application>

</manifest>